/*APP COMPONENT RELATED CSS GOES HERE*/
body {
  font-family: 'Droid Sans', sans-serif;
  background-color: #828282;
  color: #eaeaea;
}

.App {
  max-width: 500px;
  margin: auto;
}

#header {
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  background-color: #1b1b1b;
  color: rgba(255, 249, 196, 1);
  margin: auto;
  font-size: 32px;
  padding: 15px;
}

#card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.compare-field {
  display: flex;
  justify-content: space-around;
}

.district-card {
  background-color: #FFF;
  box-shadow: 3px 3px 3px rgba(37, 37, 37, 0.40);
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-image: url('images/city.jpg');
  background-size: cover;
  background-blend-mode: overlay;
  background-color: rgba(24, 24, 25, 0.49);
  border-radius: 5px;
}

.district-card:hover {
  box-shadow: none;
  background-blend-mode: overlay;
  background-color: rgba(121, 111, 20, 0.33);
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-blend-mode: overlay;
  background-color: rgba(24, 24, 25, 0.60);
  border-radius: 5px;

}

h3 {
  font-size: 24px;
  margin: 15px;
  text-align: center;
}

p {
  margin: 5px
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.user-input {
  height: 25px;
  width: 250px;
  border: none;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
}

.button {
  width: 125px;
  height: 35px;
  background-color: #1b1b1b;
  color: rgba(255, 249, 196, 1);;
  font-size: 14px;
  padding: 5px;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.button:hover {
  /*background-color: #586F7C*/
  background-blend-mode: overlay;
  background-color: rgba(248, 249, 196, 0.51);
}

.year-data {
  display: flex;
  margin: 0;
}

.above {
  color: rgba(115, 181, 109, 1);
  font-weight: 600;
}

.below {
  color: rgba(236, 118, 118, 1);
  font-weight: 600;
}

.is-selected {
  background-blend-mode: overlay;
  background-color: rgba(121, 111, 20, 0.33);
}

@media screen and (max-width: 499px) {
  body {
    min-width: 320px;
  }
  #header {
    text-align: center;
  }

  .compare-field {
    flex-direction: column;
    align-items: center;
  }

  .controls {
    flex-direction: column;
    height: 150px;
  }

  .button{
    width:250px;
  }

}
